// @import '_vars';

// @font-face {
//     src: url(../fonts/Nimitz\ Clean.ttf);
//     font-family: Nimitz;
// }

body
{
    background-image: url(../images/background.jpg);
}

h2, p
{
    font-family: Nimitz;
    color: #666547;
}

header
{
    display: flex;
    flex-direction: row;
}

.logo
{
    margin-left: 30px;  
    height: 120px;
    width: 150px;
}

.nav 
{
    font-size: 12px;
    src: url(../fonts/Nimitz\ Clean.ttf);
    font-family: Nimitz;
    color: #666547;
}

.nav li 
{ 
    display:inline; 
    padding:0 8px; 
    // margin-top: 20px;
}

.plus
{
    fill: blue;
}


#section1 h2
{
    font-size: 50px;
    text-align: center;
}

#section1boxs
{
    display: flex;
    justify-content: space-evenly;
}

.box
{
    height: 181px;
    width: 93px;
    background-color: #6FCB9F;
    flex-direction: row; 
    border: #6FCB97;
    border-width: 4px;
    border-style: solid;
}



#section2 h2
{
    font-size: 50px;
    text-align: center;
}

#section2boxs
{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#section2boxs p
{
    color: #FB2E01;
    font-size: 80px;
    margin: 0 auto;
    margin-top: 35px;
}

.box2
{
    height: 152px;
    width: 147px;
    min-width: 147px;
    background-color: #6FCB9F;
    margin: 10px;
    flex-wrap: wrap;
}

.boxDesktop
{
    display: none;
}

.boxMobile
{
    height: 152px;
    width: 333px;
    min-width: 333px;
    background-color: #6FCB9F;
    margin: 10px;
}

.im
{
    height: 181px;
    width: 93px;
    object-fit: cover;
}

#footerNav
{
    height: 61px;
    width: 100%;
    background-color: #666547;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    
}

.copy
{
    text-align: center;
}

.footerSvg
{
    height: 40px;
    margin: 10px;
    fill: green;
}

.footerSvg svg
{
    fill: blue;
}


@media screen and (min-width: 640px)
{
    .boxDesktop
{
    display: block;
    height: 152px;
    width: 147px;
    min-width: 147px;
    background-color: #6FCB9F;
    margin: 10px;
}

.boxMobile
{
    display: none;
}
}



@media screen and (min-width: 960px)
{

    .nav 
{
    font-size: 30px;
    src: url(../fonts/Nimitz\ Clean.ttf);
    font-family: Nimitz;
    color: #666547;
    
}

.nav li 
{ 
    display:inline; 
    padding:0 8px; 
    // margin-top: 20px;
    margin: 20px;
}

.im
{
    height: 168px;
    width: 290px;
    object-fit: cover;
}
    .box
{
    height: 168px;
    width: 290px;
    border: #6FCB97;
    border-width: 4px;
    border-style: solid;
}

    #section2 h2
{
    font-size: 50px;
    text-align: center;
}

#section2boxs
{
    display: flex;
    justify-content: space-around;
}

.box2
{
    height: 152px;
    width: 147px;
    background-color: #6FCB97;
}
}
